<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="kr">
<head th:replace="fragment :: head">
    <title>메모</title>
</head>
<body>
<header th:replace="fragment :: header"></header>
<main class="d-flex flex-column justify-content-center w-100 container mt-1">
    <div class="d-flex flex-row-reverse mb-3" sec:authorize="isAuthenticated()">
        <a class="btn btn-primary ms-2" th:href="@{/memo/new/create}">메모 작성하기</a>
    </div>
    <div id="root"></div>
</main>
<script src="/js/bundle.js"></script>
</body>
</html>
